doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
  body
    #header
      #experimentTitle My Super Experiment Part 1
    block content
